<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>

        <div class="my_background section">
            <h2 class="section_heading">ABOUT ME</h2>
            <div class="my_background_details">
                <p>I am currently enrolled in a software engineering technician program at <strong>Centennial College,
                        Scarborough,
                        Canada</strong></p>

                <p>As a student of software engineering I enjoy coding and learning new languages and i love seeing the changes i make while learning new things. </p>

                <p>I love to listen music watching movies and reading books</p>

                <div></div>
            </div>
        </div>

        <div class="my_toolkit section">
            <h2 class="section_heading">My Toolkit</h2>
            <div class="my_toolkit_deatils">
                <img src="/assets/images/svg/bxl-css3.svg" alt="">
                <img src="/assets/images/svg/bxl-github.svg" alt="">
                <img src="/assets/images/svg/bxl-flutter.svg" alt="">
                <img src="/assets/images/svg/bxl-html5.svg" alt="">
                <img src="/assets/images/svg/bxl-javascript.svg" alt="">
                <img src="/assets/images/svg/bxl-mongodb.svg" alt="">
                <img src="/assets/images/svg/bxl-postgresql.svg" alt="">
            </div>

        </div>


        <%- include partials/footer.ejs %>