<%- include partials/header.ejs %>

  <%- include partials/main_nav.ejs %>



    <div class="container">
      <div class="intro_section">
        <div class="namaskar">
          <h1>Hello</h1>
        </div>
        <div class="main_section">
          <h2>I’m Roshan Rai, originally from Nepal. I am currently living in Toronto, Canada. </h2>
        </div>
        <div class="Email_CTA">
          <p>Connect With Me: <span><a href="#">roshanr4959@gmail.com</a></span></p>
        </div>
      </div>

      <div class="hero_image">
        <img src="/assets/images/Image_1.jpg" alt="Roshan's image" class="headshot">
        <img src="/assets/images/arrow.svg" alt="" class="arrow">
        <!--<p>Hello folks! This is<br>me trying to pose for <br>a good portfolio <br>website photo</p>-->
      </div>
    </div>

    <div class="my_background section">
      <h2 class="section_heading">My Background</h2>
      <div class="my_background_details">
        <p>I am currently enrolled in a software engineering program at <strong>Centennial College, Scarborough,
            Canada</strong></p>

        <p>As a student of software engineering technician, I enjoy coding and learning new programming languages.</p>

        <p>Besides, Coding I enjoy watching movies, playing games, listening music and singing.</p>

        <div class="button"></div>
      </div>
    </div>
    <div class="my_toolkit section">
      <h2 class="section_heading">My Toolkit</h2>
      <div class="my_toolkit_deatils">
        <img src="/assets/images/svg/bxl-css3.svg" alt="">
        <img src="/assets/images/svg/bxl-github.svg" alt="">
        <img src="/assets/images/svg/bxl-flutter.svg" alt="">
        <img src="/assets/images/svg/bxl-html5.svg" alt="">
        <img src="/assets/images/svg/bxl-javascript.svg" alt="">
        <img src="/assets/images/svg/bxl-mongodb.svg" alt="">
        <img src="/assets/images/svg/bxl-postgresql.svg" alt="">
      </div>

    </div>

    <div class="projects section">
      <h2 class="section_heading">My Projects</h2>

      <div class="project_list_card">
        <div class="project_deatails button">
          <h3 class="project_heading">Smash The Bug<span><img src="/assets/images/svg/right-arrow.svg" class="btn_arrow"
                alt=""></span>
          </h3>
          <p>I created this game in my assignment for second semester. Bug Smasher is a HTML canvas game, Where players are challanged to smash the BUG by clicking on
            it as it randomly hops to random location on the screen. The speed of the bug increases as you
            score more so the game gets harder as you progresss.</p>
        </div>
        <div class="info_pill">
          <p>JavaScript</p>
        </div>
        <div class="info_pill">
          <p>HTML</p>
        </div>
        <div class="info_pill">
          <p>CSS</p>
        </div>
      </div>

      <div class="project_list_card">
        <div class="project_deatails button">
          <h3 class="project_heading">Personal Portfolio<span><img src="/assets/images/svg/right-arrow.svg"
                class="btn_arrow" alt=""></span>
          </h3>
          <p>I made my personal portfolio in my first semester assignment using html and css. My Personal Portfoilo Websites contains all of the professional details.</p>
        </div>
        <div class="info_pill">
          <p>HTML</p>
        </div>
        <div class="info_pill">
          <p>CSS</p>
        </div>
      </div>

      <div class="project_list_card">
        <div class="project_deatails button">
          <h3 class="project_heading">Real State Website<span><img src="/assets/images/svg/right-arrow.svg"
                class="btn_arrow" alt=""></span>
          </h3>
          <p>This was my individual project for third semester. This is a static website I built for my 1 semster project. It's for a imaginary real estate
            company.</p>
        </div>
        <div class="info_pill">
          <p>HTML</p>
        </div>
        <div class="info_pill">
          <p>CSS</p>
        </div>
      </div>

      <%- include partials/footer.ejs %>
